<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AfabreLib.Properties.Settings.ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=afabre;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>